{% comment %}New initial code template{% endcomment %}
{% block env %}{% endblock env %}

{% block start %}
def unique_emails(emails:list) -> int:
    # your code here
    return 0
{% endblock start %}

{% block example %}
print('Example:')
print(unique_emails(["alex@checkio.org", "mike@google.com", "lili@apple.com"]))
{% endblock %}

{% block tests %}
{% for t in tests %}
assert {% block call %}unique_emails({{t.input.0|p}})
{% endblock %} == {% block result %}{{t.answer|p}}{% endblock %}{% endfor %}
{% endblock %}

{% block final %}
print("The first mission is done! Click 'Check' to earn cool rewards!")
{% endblock final %}
